[Unit]
Description=Phantom SVN country TCP relay on port %i
Requires=phantom-svn-country-relay@%i.socket
After=network-online.target

[Service]
ExecStart=/usr/lib/systemd/systemd-socket-proxyd 95.217.159.175:%i
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
NoNewPrivileges=true
