[Unit]
Description=Phantom SVN Spain TCP relay
Requires=phantom-svn-es-relay.socket
After=network-online.target

[Service]
ExecStart=/usr/lib/systemd/systemd-socket-proxyd 95.217.159.175:22009
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
NoNewPrivileges=true
